@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --light-green: #5cc19f;
  --dark-green: #188366;
  --dirty-green: #386a59;
  --dull-green: #263f37;
  /* height: 100%; */
}

body {
  background-color: #141414;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /* height: 100%; */
}
.text-light-green {
  color: var(--light-green);
}
.text-dark-green {
  color: var(--dark-green);
}
.default-layout .nav-link.active {
  color: var(--light-green);
}
.default-layout .nav-link {
  color: var(--dark-green);
  font-weight: 400;
  font-size: 20px;
}
#__nuxt {
  /* height: 100%; */
}
button.navbar-toggler {
  padding: 0px;
}
button.navbar-toggler svg {
  color: var(--dark-green);
}
div#navbarNavAltMarkup {
  padding-right: 10rem;
}
@media (max-width: 991px) {
  .navbar-brand div {
    padding-left: 0px !important;
  }
  #navbarNavAltMarkup {
    padding-right: 0 !important;
    margin-top: 1rem;
  }
  #navbarNavAltMarkup ul.navbar-nav {
    border-top: 2px solid var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
  }
  nav.default-layout.add-border {
    padding-bottom: 0 !important;
  }
  .container-fluid {
    padding: 0px !important;
    justify-content: space-between !important;
  }
  .navbar-brand {
    padding-left: 15px;
  }
  .navbar-toggler {
    padding-right: 15px !important;
  }
}
@media (min-width: 991px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
}
